<!DOCTYPE html>
<html>
<head>
<style>
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("./stylesheets/Page.jpg");

    /* Full height */
    height: 70%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body>
<p>SONATA DEVOPS OFFERINGS </p>
<!--<div class="bg"></div>-->
<p>SONATA DEVOPS OFFERINGS2 </p>



</body>
</html>
